
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e801'; } /* '' */
.icon-menu-outline:before { content: '\e802'; } /* '' */
.icon-plancast:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */